.btn {
  background-color: $col-brand;
  color: $col-background-light;
  border: 1px solid transparent;
  display: inline-block;
  padding: ($base-spacing-unit / 4) $base-spacing-unit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  width: auto;
  transition: all .5s;
  border-radius: $border-radius;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    text-decoration: none;
    background-color: $col-background-light;
    color: $col-brand;
    border: 1px solid $col-brand;
  }

  .is-disabled,
  &:disabled {
    pointer-events: none;
    opacity: .65;
  }
}

.btn--secondary {
  background-color: transparent;
  color: $col-brand;
  border: 1px solid $col-brand;

  &:hover {
    background-color: $col-brand;
    color: $col-background-light;
    border: 1px solid $col-background-light;
  }
}

.btn--secondary-inverse {
  background-color: transparent;
  color: $col-background-light;
  border: 1px solid $col-background-light;

  &:hover {
    background-color: $col-background-light;
    color: $col-brand;
    border: 1px solid $col-brand;
  }
}

.btn--inverse {
  background-color: $col-background-light;
  color: $col-brand;
  border: 1px solid $col-brand;

  &:hover {
    background-color: $col-brand;
    color: $col-background-light;
    border: 1px solid $col-background-light;
  }
}

.btn--big {
  font-size: 1.125em;
  padding: ($base-spacing-unit / 2.5) ($base-spacing-unit * 1.25);
}

.btn--block {
  display: block;
  width: 100%;

  + .btn--block {
    margin-top: $base-spacing-unit / 4;
  }
}

.btn--link {
  background-color: transparent;
  color: $col-brand;
}

.btn--micro {
  line-height: 1em;
  padding: ($base-spacing-unit / 5) ($base-spacing-unit / 3);
}
